html{
    height: 100%;
}

body{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.buttons{
    display: flex;
    gap: 2px;
}

.plus-button{
    height: 100%;
}

.buttons > div{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.display{
    border: 2px solid black;
    margin-bottom: 5px;
    background-color: white;
    min-height: 90px;
    max-width: 362px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    font-size: 50px;
    text-align: right;
    overflow-wrap: break-word;
    word-break: break-all;
}
.main-screen{
    min-height: 58px;
}
.sub-screen{
    align-self: flex-end;
    font-size: 20px;
    margin-right: 10px;
}

button{
    min-width: 90px;
    min-height: 80px;
    border-radius: 8px;
    border-color: black;
    font-size: 30px;
}

.main{
    border: 15px solid gray;
    border-radius: 10px;
    background-color: gray;
}

button:hover{
    background-image: linear-gradient(rgb(0 0 0/15%) 0 0);
}

button:active{
    background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
}